## R user/session files
.Rapp.history
.RData
.Renviron
.Rhistory
.Ruserdata
.Rproj.user/
.Rproj.user

## output files from build/check processes
/*.Rcheck/
/*.tar.gz
*-Ex.R
inst/doc

## produced vignettes
vignettes/*.html
vignettes/*.pdf

## tokens and secrets
.httr-oauth
.secrets

## knitr and R markdown default cache directories
*_cache/
/cache/

## temporary files created by R markdown
*.utf8.md
*.knit.md
